<h1 class="display-3 text-center animated fadeIn low">Trabajo Practico Angular Nro 2</h1>
<h1 class="display-4 text-center animated fadeIn low2"><small class="text-muted">Joel Vitelli</small></h1>
<h2 class="display-4 text-center animated fadeIn low2">Tecnologías usadas</h2>
<mat-list>
        <mat-list-item>Angular 7</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Bootstrap</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Angular Material</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Swiper API</mat-list-item>
</mat-list>

